<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCs99oauW9HT8BcRdKCSp7J7R3ksoI4XoU</string>
	<key>GCM_SENDER_ID</key>
	<string>646232894556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.llmtestapp.llmStethoscope.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>llmstethoscope-e226c</string>
	<key>STORAGE_BUCKET</key>
	<string>llmstethoscope-e226c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646232894556:ios:c6929c99d426bd9a67ca99</string>
</dict>
</plist>